@import "../../scss/variables";

.section {
  width: $small-width;
  height: $small-height;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapbtn {
  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}