$small-width: 375px;
$small-height: 812px;

$main-orange:   #E86100;
$system-red:    #DF1E1E;
$system-green:  #29D358;
$system-yellow: #ECBA39;

$grayscale100:  #121212;
$grayscale90:   #222222;
$grayscale80:   #363737;
$grayscale70:   #4D4F50;
$grayscale60:   #636566;
$grayscale50:   #7C7F81;
$grayscale40:   #9EA1A4;
$grayscale30:   #C8CACC;
$grayscale20:   #DFE2E4;
$grayscale10:   #F2F5F8;
$grayscale00:   #FFFFFF;

$background-color: $grayscale10;